# disp driver
/dev/disp                 0777   system     system 
/dev/cedar_dev            0666   system     system 
/dev/ace_dev              0666   system     system 
/dev/ump		  0777   system	    graphics
/dev/mali		  0777   system	    graphics
/dev/ump		  0777   system     graphics
/dev/video0		  0777   system	    system
/dev/snd/pcmC0D0c 	  0777   system     system
/dev/snd/pcmC0D0p	  0777   system     system
/dev/ttyUSB0		  0777   system     system
/dev/ttyUSB1		  0777   system     system
/dev/ttyUSB2		  0777   system     system
/dev/ttyUSB3		  0777   system     system
/dev/gps                  0777   system     system
/dev/pa_dev		  0777	 system	    system
/dev/g2d		  0666	 system	    system
/dev/vmouse		  0666	 system	    system
